// ** Note
$noteBg: rgb(29 31 32 / 71%);
$noteColor: #c8c8c8;
$noteBorder: #c8c8c8;

// ** Info
$infoBg: rgb(100 108 255 / 8%);
$infoColor: #bcc0ff;
$infoBorder: #646cff;

// ** Warning
$warningBg: rgb(255 197 23 / 5%);
$warningColor: #fcd253;
$warningBorder: rgba(255, 213, 0, 0.793);

// ** Error
$errorBg: rgb(192 29 29 / 15%);
$errorColor: #ef8d8dfa;
$errorBorder: rgba(255, 25, 0, 0.322);

// ** Success
$successBg: rgba(246, 238, 9, 0.127);
$successColor: #7acf58d6;
$successBorder: rgba(0, 255, 0, 0.322);


@mixin alert($name, $bgColor, $color, $borderColor) {
    .#{$name} {
        background-color: $bgColor;
        padding: 25px;
        border: dotted 2px $borderColor;
        border-radius: 12px;
        color: $color;
        box-shadow: 0 0 10px rgba($color,0.75);

        .alert-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;

            .title
            {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: default;

                svg{
                    cursor: default;
                }
            }

            svg{
                cursor: pointer;
            }
        }
    }
}


@include alert("alert-note",$noteBg,$noteColor,$noteBorder);
@include alert("alert-info",$infoBg,$infoBorder,$infoBorder);
@include alert("alert-warning",$warningBg,$warningColor,$warningBorder);
@include alert("alert-error",$errorBg,$errorColor,$errorBorder);
@include alert("alert-success",$successBg,$successColor,$successBorder);